/build/RGB-Quote-Desktop_Qt_5_4_0_GCC_64bit-Debug/baseitem.o
/build/RGB-Quote-Desktop_Qt_5_4_0_GCC_64bit-Debug/cablecover.o
/build/RGB-Quote-Desktop_Qt_5_4_0_GCC_64bit-Debug/jsettings.o
/build/RGB-Quote-Desktop_Qt_5_4_0_GCC_64bit-Debug/main.o
/build/RGB-Quote-Desktop_Qt_5_4_0_GCC_64bit-Debug/mainwindow.o
/build/RGB-Quote-Desktop_Qt_5_4_0_GCC_64bit-Debug/Makefile
/build/RGB-Quote-Desktop_Qt_5_4_0_GCC_64bit-Debug/moc_cablecover.cpp
/build/RGB-Quote-Desktop_Qt_5_4_0_GCC_64bit-Debug/moc_cablecover.o
/build/RGB-Quote-Desktop_Qt_5_4_0_GCC_64bit-Debug/moc_mainwindow.cpp
/build/RGB-Quote-Desktop_Qt_5_4_0_GCC_64bit-Debug/moc_mainwindow.o
/build/RGB-Quote-Desktop_Qt_5_4_0_GCC_64bit-Debug/moc_prefdialog.cpp
/build/RGB-Quote-Desktop_Qt_5_4_0_GCC_64bit-Debug/moc_prefdialog.o
/build/RGB-Quote-Desktop_Qt_5_4_0_GCC_64bit-Debug/prefdialog.o
/build/RGB-Quote-Desktop_Qt_5_4_0_GCC_64bit-Debug/RGB-Quote
/build/RGB-Quote-Desktop_Qt_5_4_0_GCC_64bit-Debug/ui_cablecover.h
/build/RGB-Quote-Desktop_Qt_5_4_0_GCC_64bit-Debug/ui_mainwindow.h
/build/RGB-Quote-Desktop_Qt_5_4_0_GCC_64bit-Debug/ui_prefdialog.h
/RGB-Quote.pro.user
/settings.conf~
